.headerStyle {
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/image/headerImage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
}
.imageStyle {
    background-image: url('/src/assets/image/bodyImage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 200px;
}